APP_NAME="TG Inventory"
APP_ENV=testing
APP_KEY=
APP_DEBUG=false
APP_URL=https://tg-inventory-app.test

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_MAINTENANCE_DRIVER=file

LOG_CHANNEL=single
LOG_LEVEL=warning

DB_CONNECTION=mariadb
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=tg_inventory_test
DB_USERNAME=tg_inventory_test
DB_PASSWORD=

SESSION_DRIVER=array
SESSION_LIFETIME=120
SESSION_ENCRYPT=true
SESSION_PATH=/
SESSION_DOMAIN=null
SESSION_SECURE_COOKIE=true

CACHE_STORE=array
QUEUE_CONNECTION=sync
FILESYSTEM_DISK=local
MAIL_MAILER=array
